.projectBody {
  height: 100vh !important;
  overflow-y: auto !important;
  scroll-snap-type: y mandatory;
}
.titleHeader {
  color: #ed6a40 !important;
  font-family: "varela round";
  font-weight: 800;
}
.projectContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Helvetica";
  width: 80%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
}

.projectContainer::-webkit-scrollbar {
  width: 10px;
}
.projectContainer::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.projectContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.1);
}
.projectHeader {
  font-size: 210% !important;
}

.projectPara {
  font-size: 140% !important;
  line-height: 150% !important;
  color: #ffffff !important;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 80vw;
  box-sizing: border-box;

  transform-style: inherit;
}
#projectSlide2 {
  z-index: 3 !important;
}

.projectImage {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 310px;
  height: 240px;
  transform: translateZ(0.25px) translateX(-94%) translateY(-100%);
  padding: 10px;
  border-radius: 5px;
  display: flex;

  z-index: 1 !important;
}

// .projectImage:last-of-type {
//   transform: translateZ(0.4px) scale(0.6) translateX(-104%) translateY(-40%)
//     rotate(-5deg);
// }

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.projectTitle {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(43, 68, 72, 0.8);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.slide:nth-child(2n) .projectTitle {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n + 1) .projectTitle {
  margin-left: auto;
  margin-right: 0;
}

.slide,
.slide:before {
  background: 50% 50% / cover;
}

.projectHeader {
  text-align: center;
  font-size: 175%;
  color: #ffffff;
}

#title {
  background-image: url("https://picsum.photos/640/480");
  z-index: 2;
}

#title .projectHeader {
  transform: translateZ(0.25px) scale(0.75);
  transform-origin: 50% 100%;
}

#slide1:before {
  background-image: url("https://i.pinimg.com/originals/6a/cf/67/6acf67c5c9341c3c467179668c200895.gif");
  transform: translateZ(-1px) scale(2);
  transition: all 0.1s ease;
  // filter: blur(5px);
}

#slide1:hover:before {
  filter: blur(0px);
  background-image: url("../../assets/images/backgroundAPI2.png");
}
.projectPara2 {
  z-index: 5 !important;
}
#slide2 {
  background-image: url("https://ecommercewebdesign.agency/wp-content/uploads/2019/12/toronto-ecommce-breand-development-company.gif");
  z-index: 2;
  background-size: auto !important;
}

#slide3:before {
  background-image: url("../../assets/images/backgroundEcomerce3.jpg");
  transform: translateZ(-1px) scale(2);
}

#slide4 {
  background: #222;
}

@media (max-width: 768px) {
  .projectBody {
    height: 80vh !important;
    overflow-y: visible !important;
  }
  .projectHeader {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .projectTitle {
    width: 80%;
    margin-top: 3rem;
  }

  .projectPara {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 1.5rem;
  }

  .projectImage {
    margin-top: 1.5rem;
    z-index: 1;
  }
  #projectSlide2 {
    z-index: 3 !important;
  }
}

@media (max-width: 480px) {
  .projectHeader {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .projectTitle {
    width: 70%;
    margin-top: 2rem;
  }

  .projectPara {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
  }

  .projectImage {
    margin-top: 1rem;
  }
  .projectImage {
    width: 240px;
    height: 180px;
    transform: translateZ(0.25px) scale(0.5) translateX(-70%) translateY(30%);
    z-index: 1 !important;
  }
  #projectSlide2 {
    z-index: 3 !important;
  }

  // .projectImage:last-of-type {
  //   transform: translateZ(0.4px) scale(0.4) translateX(-104%) translateY(-40%)
  //     rotate(-5deg);
  // }
}

$size-width: 250px;
$size-height: 200px;

.carousel-wrapper {
  width: $size-width * 1.3;
  height: $size-height * 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
  margin: 100px 40px 20px;
  padding: 20px 20px;
}
.imageProject {
}

.carousel-container {
  width: $size-width;
  height: $size-height;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: $size-width * 3.1;
  animation: sliding 10s infinite;

  div {
    width: $size-width;
    height: $size-height;
    background-size: cover;
    background-position: center;
  }
  &:hover {
    animation-play-state: paused;
  }
  .image-one {
    background-image: url("./ecommerceTwo.png");
  }
  .image-two {
    background-image: url("./ecommerceThreee.png");
  }
  .image-three {
    background-image: url("./ecommerceFour.png");
  }
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-$size-width);
  }
  65% {
    transform: translateX(-$size-width);
  }
  70% {
    transform: translateX(-$size-width * 2);
  }
  98% {
    transform: translateX(-$size-width * 2);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  $size-width: 240px;
  $size-height: 150px;
  .carousel-wrapper {
    width: $size-width;
    height: $size-height;
  }

  .carousel-container {
    width: $size-width;
    height: $size-height;
  }

  .carousel {
    width: $size-width;
    > div {
      width: $size-width;
      height: $size-height;
    }
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-$size-width);
    }
    65% {
      transform: translateX(-$size-width);
    }
    70% {
      transform: translateX(-$size-width * 2);
    }
    98% {
      transform: translateX(-$size-width * 2);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media only screen and (max-width: 480px) {
  .carousel-wrapper {
    width: $size-width * 2;
    height: $size-height * 1.5;
  }
  .carousel {
    width: $size-width * 2.98;
  }
  .carousel div {
    width: $size-width;
    height: $size-height;
  }
  .projectImage {
    width: $size-width * 1.2;
    height: $size-height;
  }
}
