@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap");

.text-shpere {
  position: absolute;
  margin-left: 20%;

  padding: 20px;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .text-shpere {
    display: none;
    // flex-direction: column;
    // justify-content: center;
    // text-align: center;
    // height: 40px;
  }
}

.tagcloud {
  display: inline-block;
  top: 0;
  left: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0625em;
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  .tagcloud {
    display: none;
    // font-size: 1.2em;
  }
}
@media screen and (max-width: 1024px) {
  .text-shpere {
    right: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .text-shpere {
    position: relative;

    padding: 20px;
    width: 80%;
    right: 15%;
    display: flex;

    justify-content: center;
    align-items: center;
  }
}
/* Change color of each text in sphere on hover   */
.tagcloud--item {
  color: #00ffffff;
  text-transform: uppercase;
}

.tagcloud--item:hover {
  color: #ff6347;
}
