.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  transition: 0.3s;
}

.gallery__column {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25%;
}

.gallery__link {
  margin: 2px;
  overflow: hidden;
  width: 100%;

  &:hover {
    .gallery__image {
      filter: grayscale(0);
    }

    .gallery__caption {
      opacity: 1;
    }
  }
}

.gallery__thumb {
  position: relative;
}

.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}

@media screen and (min-width: 480px) {
  .gallery__column {
    max-width: 33.33%;
  }
}

@media screen and (min-width: 768px) {
  .gallery__column {
    max-width: 25%;
  }
}
