.imageLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.solid-logoTitle {
  width: 80% !important;
  max-width: 400px;
  margin: 20px 0;
}

.solid-logoName {
  padding-top: 20px;
  width: 80%;
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .logo-container {
    z-index: 4;
  }
  .imageLogo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .solid-logoTitle {
    margin: 0 20px 0 0;
  }

  .solid-logoName {
    margin: 0 0 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .imageLogo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .solid-logoTitle {
    margin: 40px 0 20px;
  }

  .solid-logoName {
    margin: 10px 0 40px;
  }
}

.contactButton {
  padding-top: 2px;
}

.buttonHome {
  border: 2px;
  background-color: #758086;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: transparent;
  animation: pulsate-bck 2s ease-in-out infinite both;
}
.buttonHome:hover {
  animation: wobble-hor-bottom 1s both;
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
