// @media only screen and (max-width: 1600px) {
//   .animation {
//     font-size: 3 rem !important;
//     overflow: hidden;
//     margin-left: 1rem;
//     text-transform: uppercase;
//     color: antiquewhite !important;
//     align-items: center !important;
//   }
// }

.stage-cube-cont {
  width: 50%;
  height: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cubespinner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 30s infinite forwards linear;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;

    width: 200px !important;
    height: 200px !important;
    border: 1px solid #ccc;
    background: rgb(255, 255, 255, 0.5);
    text-align: center;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0px rgb(255, 255, 255);
    padding: 40px;
    border-radius: 100px;
  }
}
.face {
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  display: flex;
}

.face:nth-child(1) {
  transform: rotateY(0deg) translateZ(280px);
}
.face:nth-child(2) {
  transform: rotateY(72deg) translateZ(280px);
}
.face:nth-child(3) {
  transform: rotateY(144deg) translateZ(280px);
}
.face:nth-child(4) {
  transform: rotateY(216deg) translateZ(280px);
}
.face:nth-child(5) {
  transform: rotateY(288deg) translateZ(280px);
}

@media only screen and (max-width: 768px) {
  .stage-cube-cont {
    width: 100%;
    height: auto;
    padding-top: 0;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }

  .paraAboutContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -60px;
  }
}
.cubespinner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 30%;
  height: 0;
  padding-bottom: 50%;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-180deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-360deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

.animation {
  font-size: 2.5rem !important;
  transform: scale(1.1);

  overflow: hidden;
  margin-left: 2.5rem !important;
  text-transform: uppercase;
  color: antiquewhite !important;
  align-items: center !important;
}
.paraAbout {
  padding-top: 15px;
  font-size: 19.5px !important;
}

.animation > div > div {
  height: 5rem !important;

  margin-bottom: 0.55rem !important;
  display: inline-block;
  padding-top: 6px !important;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: #20a7d8;
}
.second div {
  background-color: #002129;
}
.third div {
  background-color: #b40488;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
