html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 300 11px/1.4 "Helvetica Neue", "sans-serif";
  color: #444;
  background-color: #2b4448;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
